<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="text-light contact-info">
          <i class="bi bi-envelope"></i>
        </i>
        <a
          href=""
          class="navbar-sm-brand text-light text-decoration-none contact-info"
        >
          info@freshmart.com
        </a>
        <i class="text-light contact-info">
          <i class="bi bi-telephone-fill"></i>
        </i>
        <a
          href=""
          class="navbar-sm-brand text-white text-decoration-none contact-info"
        >
          010-020-8340
        </a>
      </div>
      <div>
        <a href="" class="text-white">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="text-white">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="text-white">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="text-white">
          <i class="bi bi-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
